# Игнорируем скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем базы данных
*.db
*.sqlite3

# Игнорируем переменные окружения
.env

# Игнорируем файлы журналов
*.log

# Игнорируем временные файлы редакторов и IDE
.vscode/
.idea/
*.swp
*.swo
